.footer{
  padding: 20px 80px 10px;
  background-color: rgb(216,79,79);
}
.footer img{
  width: 26px;
  cursor: pointer;
}
.footer1{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
.footer-logo{
  font-family: 'lobster';
  font-size: 26px;
  transition: color 0.25s;
  margin: 0;
}
.footer-logo:hover{
  color: rgb(108,206,86);
}
.footer2{
  width: 110px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
.footer-line{
  height: 1px;
  border: none;
  background-color: black;
}